@model WebApplication2.tCustomer
@{ Layout = "~/Views/Shared/_LayoutPageEmployment.cshtml";}
<div>
    <h4>tCustomer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fTaxID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fTaxID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fFox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fFox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fLoginPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fLoginPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fUpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fUpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tEmployee.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tEmployee.fName)
        </dd>

    </dl>
</div>

