@model WebApplication2.ViewModel.EmpChangePasswordViewModel
@{
    ViewBag.Title = "EmpForgotPassword";
    Layout = "~/Views/Shared/_LayoutPageEmploymentLogin.cshtml";
}

<h2>忘記密碼</h2>

@{
    Layout = "~/Views/Shared/_LayoutPageEmploymentLogin.cshtml";
}
<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
    }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>

@Html.AntiForgeryToken()


<div>
    <div class="login-form">
        <form action="EmpForgotPassword" method="post">
            <h2 class="text-center">忘記密碼</h2>
            <div class="form-group">
                @Html.EditorFor(model => model.oldAccount, new { htmlAttributes = new { @class = "required form-control", placeholder = "帳號" } })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "required form-control", type = "password", placeholder = "人事給的密碼" } })
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "required form-control", type = "password", placeholder = "新密碼", @onblue = "checkpas1();" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "required form-control", type = "password", placeholder = "第二次密碼", @onblue = "checkpas();" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">確認</button>
            </div>
        </form>
        <p class="text-center"><a href="Create">新應徵人員</a></p>
    </div>
</div>

<script>
    function checkpas1() {//當第一個密碼框失去焦點時，觸發checkpas1事件
        var pas1 = document.getElementById("NewPassword").value;
        var pas2 = document.getElementById("ConfirmPassword").value;//獲取兩個密碼框的值
        if (pas1 != pas2 && pas2 != "")//此事件當兩個密碼不相等且第二個密碼是空的時候會顯示錯誤資訊
            $(".tip").show();
        else
            $(".tip").hide();//若兩次輸入的密碼相等且都不為空時，不顯示錯誤資訊。
    }
    function checkpas() {//當第一個密碼框失去焦點時，觸發checkpas2件
        var pas1 = document.getElementById("NewPassword").value;
        var pas2 = document.getElementById("ConfirmPassword").value;//獲取兩個密碼框的值
        if (pas1 != pas2) {
            $(".tip").show();//當兩個密碼不相等時則顯示錯誤資訊

        } else {
            $(".tip").hide();
        }
    }
    function checkpas2() {//點選提交按鈕時，觸發checkpas2事件，會進行彈框提醒以防無視錯誤資訊提交
        var pas3 = document.getElementById("NewPassword").value;
        var pas4 = document.getElementById("ConfirmPassword").value;
        var all_Inputs = $("input[type=password]")
        if (pas3 != pas4) {
            all_Inputs.val("");
            alert("兩次輸入的密碼不一致！");
            return false;
        }
    }

</script>