@model WebApplication2.tWorkingTime

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPageEmployment.cshtml";
}



<h2>補簽記錄</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tWorkingTime</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.fWorkingID)

        <div class="form-group">
            @Html.LabelFor(model => model.fDateID, "上班日期", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model=> model.tDate.fDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fDateID, "", new { @class = "text-danger", @readonly = "readonly" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.fFaceDetectID, "fFaceDetectID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fFaceDetectID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fFaceDetectID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label class = "control-label col-md-2" >上班時間</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fStartWorkingTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fStartWorkingTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">下班時間</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fOffWorkingTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fOffWorkingTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回上一頁", "EmpCheckInData")
</div>
